#annocanvas01 {
  div.ColorPicker, 
  div.SizePicker,
  div.tools {
    clear:both;
    padding-top:5px;
    margin-top:5px;
    a {
      border:2px solid white;
      display:inline-block;
      text-decoration: none;
    }
    a.selected {
      border:2px solid silver;
    }
  }

  .canvas_canvas {
  	float:left;
  	border:solid 1px black;
  	margin:10px;  	
    height:427px;
    width:480px; /* down-scaling hi-res 1188/891 image */

  }
   .canvas_toolbar {
    float:left;
    border:solid 1px black;
    margin:10px;    
    padding:10px;
  }

  .ColorPicker a
  {
      float:left;
      width:25px;
      height:25px;
      margin-left:3px;
  }


  .SizePicker a div {
    height:20px;
    width:20px;
    padding:1px;
    margin:10px;
  }

  div.SizePicker > div {
    display:inline-block;
    margin-bottom:10px;
  }

}